.footer-div{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.footer-h4{
    font-weight: bolder;
}

.footer-content{
    line-height: 2rem;
    width: 15rem;
    font-size: 1rem;
    text-align: left;
    color: #f2f2f2;
    opacity: 0.8;
}


.footer-content li a:link{
    text-decoration: none;
}

.footer-content li a{
    color: #f2f2f2;;
}

.footer-content li a:hover{
    color: burlywood;
}

.footer-reachOut{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.footer-reachOut a:hover{
    color: burlywood;
}

.footer-reachOut a{
    color: #f2f2f2;;

}

.footer-image{
    height: 2rem;
    width: 2rem;
}


@media only screen and (max-width: 768px) {
    .footer-h4{
        font-weight: unset;
        font-size: 1.3rem;
        text-align: center;
    }
    .footer-image{
        height: 1.2rem;
        width: 1.2rem;
    }
    .footer-content{
        line-height: 1.5rem;
        width: 20vw;
        font-size: 0.8rem;
    }
  }

/* @media screen and (min-device-width: 1281px) and (max-device-width: 1366px) { 
 
    .footer-h4{
        font-size: 1.2rem;
    }
    .footer-content{
        font-size: 0.8rem;
    }
    .footer-image{
        height: 1.5rem;
        width: 1.5rem;
    }
    
  } */

  @media (min-width:769px){
    .footer-h4{
        font-size: 1.2rem;
    }
    .footer-content{
        font-size: 0.8rem;
    }
    .footer-image{
        height: 1.5rem;
        width: 1.5rem;
    }
    
  }
