.navbar {
  background-color: rgb(54, 62, 91);
  font-size: 1.3rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-ul {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.navbar-ul li {
  margin: 1rem 2rem;
  list-style: none;
}
.navbar-ul li a {
  color: #ffffff;
}

.navbar-ul li a:link {
  text-decoration: none;
}

.navbar-ul li a:hover {
  opacity: 0.5;
}

.navbar-logo {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.7rem;
} 
