.RealEngineering-h2{
    font-weight: bold;
    text-align: center;
    margin-top: 0.8rem;
    display: flex;
   margin-left: 2rem;
}

.RealEngineering-icon-span{
    margin-top: 0.8rem;
    display: block;
}

.RealEngineering-heading-span{
    margin-top: 0.7rem;
}


@media only screen and (max-width: 768px) {
    /* .RealEngineering-list {
      text-align: center;
      font-size: 1rem;
    } */
        .RealEngineering-h2  {
            font-size: 1.4rem;
        }
  }
/* @media screen and (min-device-width: 1281px) and (max-device-width: 1366px) { 
    .RealEngineering-h2{
        font-size: 1.6rem;
    }
 } */

 @media (min-width:769px){
    .RealEngineering-h2{
        font-size: 1.4rem;
    }
  
 }