.sidebar-search-form {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.sidebar-search-btn {
  background-color: #363e5b;
  color: white;
  border: 0px;
}

.sidebar-search-btn :hover {
  cursor: pointer;
  opacity: 0.5;
}

.sidebar-search-input {
  height: 3rem;
}

.sidebar-getUpdate {
  background-color: #9e9e9e2e;
  text-align: center;
  margin-top: 2rem;
  padding: 4rem 1rem 4rem 1rem;
}

.sidebar-email-input {
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 13rem;
  align-items: center;
}

.sidebar-getupdate-btn {
  background-color: #363e5b;
  color: white;
  width: 13.5rem;
  cursor: pointer;
  height: 2.5rem;
  width: 13rem;
}

.sidebar-getupdate-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-p {
  font-size: 1.3rem;
}

.sidebar-h3 {
  font-weight: bold;
  margin-bottom: 2rem;
}

input[type="email"]::placeholder {
  text-align: center;
}

/* @media screen and (min-device-width: 1281px) and (max-device-width: 1366px) { 

  .sidebar-search-form {
    margin-top: 5rem;
  }

  .sidebar-p {
    font-size: 1rem;
  }
  .sidebar-h3 {
    font-size: 1.6rem;
  }
  .sidebar-getUpdate {
    margin-top: 2rem;
    padding: 1rem 1rem 2rem 1rem;
  }
} */

@media only screen and (max-width: 768px) {
  .sidebar-getUpdate {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .sidebar-search-form {
    background-color: #9e9e9e2e;
  padding-top: 2rem;
  margin-top: 0;
  }

  .sidebar-h3 {
  font-size: 1.4rem;
  }
  .sidebar-p {
    font-size: 1rem;
  }
  .sidebar-search-input {
    height: unset;
  }
  .sidebar-search-btn {
    height: 2rem;
  }
}

@media (min-width:769px){
  .sidebar-search-form {
    margin-top: 5rem;
  }

  .sidebar-p {
    font-size: 1rem;
  }
  .sidebar-h3 {
    font-size: 1.4rem;
  }
  .sidebar-getUpdate {
    margin-top: 2rem;
    padding: 1rem 1rem 2rem 1rem;
  }
}