.systemDesign-h2{
    font-weight: bold;
    /* text-align: center; */
    margin-top: 0.8rem;
    display: flex;
   margin-left: 2rem;
}

.systemDesign-icon-span{
    margin-top: 0.8rem;
    display: block;
}

.systemDesign-heading-span{
    margin-top: 0.7rem;
}

.systemDesign-list{
    list-style-type: none;
    text-align: justify;
    font-size: 1.3rem;
}

.systemDesign-list li{
    list-style: none;
}


@media only screen and (max-width: 768px) {
    .systemDesign-list {
      text-align: center;
      font-size: 1rem;
    }
    .systemDesign-h2{
        font-size: 1.4rem;
    }
  }

/* @media screen and (min-device-width: 1281px) and (max-device-width: 1366px) { 
    .systemDesign-h2{
        font-size: 1.4rem;
    }
    .systemDesign-list{
        font-size: 1.1rem;
    }
    .systemDesign-list{
        text-align: unset;
    }
 } */

 @media (min-width:769px){
    .systemDesign-h2{
        font-size: 1.4rem;
    }
    .systemDesign-list{
        font-size: 1.1rem;
    }
    .systemDesign-list{
        text-align: unset;
    }
 }